<%= form_with(model: sample, local: true) do |form| %>
  <% if sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% sample.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller='samples' data-samples-placeholder='Bruce Wayne'>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: :off, autocorrect: :off, autocapitalize: :none, data: { target: 'samples.textfield' } %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>

    <div class="actions">
      <%= form.submit %>
      <%= button_tag type: 'button', data: { action: 'click->samples#toggle' } do %>Hide Name<% end %>
    </div>
</div>
<% end %>
